input#btn-delete {
    background: #ccc url(Pictures/delete.png) no-repeat top left;
    padding-left: 23px;
    height: 24px;
}
h1{
	text-align:center;
	color:white;
	font-family:sans-serif;
	
	text-decoration: underline;
}
body{
	background: #292931;
}
.delete{
	color:white;
	font-family:sans-serif;
}
.curve{
	 -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");
}
