input#btn-find {
    background: #ccc url(Pictures/find.png) no-repeat top left;
    padding-left: 23px;
    height: 24px;
}
h1{
	text-align:center;
	color:white;
	font-family:sans-serif;
	
	text-decoration: underline;
}
body{
	background: #292931;
}
.find{
	color:white;
	font-family:sans-serif;
}