input#btn-find {
    background: #ccc url(Pictures/find.png) no-repeat top left;
    padding-left: 23px;
    height: 24px;
    font-family: 'Ubuntu', sans-serif;
}
h1{
	text-align:center;
	color:white;
	font-family: 'Ubuntu', sans-serif;
	
	text-decoration: underline;
}
body{
	background: #292931;
}
.find{
	color:white;
	font-family: 'Ubuntu', sans-serif;
}
.curve{
	 -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");
}
