input#btn-submit {
    background: #ccc url(Pictures/insert.png) no-repeat top left;
    padding-left: 25px;
    height: 25px;
}
h1{
	text-align:center;
	color:white;
	font-family:sans-serif;
	
	text-decoration: underline;
}
body{
	background: #292931;
}
.label{
	color:white;
	font-family:sans-serif;	
	flex: 1;
	font-weight: bold;
}
.container{
	display: flex;
}
.input{
	flex: 1;
	
}
.curve{
	 -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");
}
